<div class="project-card">
  {{ with .Resources.GetMatch "thumbnail" }}
    {{ $resized := .Resize "x288 q60" }}
    <img
      class="project-card__thumbnail"
      width="{{ $resized.Width }}"
      height="{{ $resized.Height }}"
      src="data:image/jpeg;base64,{{ $resized.Content | base64Encode }}"
      alt="{{ .Params.alt }}"
    />
  {{ end }}
  <div class="project-card__name">
    {{ .Title }}
  </div>
  <div class="project-card__description">
    {{ .Content | safeHTML }}
  </div>
  <div class="project-card__keywords">
    {{ range $index, $value := .Keywords }}
      <span class="keyword">{{ $value }}</span>
    {{ end }}
  </div>
  <div class="project-card__links">
    <a href="{{ .Params.RepoUrl | safeURL }}" class="link-pill"
      >GitHub
      <span class="max-w-[16px] max-h-[16px] ml-1">
        {{ partialCached "svg" (dict "name" "external-link" "class" "fill-current max-w-[16px] max-h-[16px]") }}
      </span>
    </a>
  </div>
</div>
